<footer>
  you accept <a href="#" onclick="$('#terms').toggle(100)">terms & conditions</a> by using <strong>buffr.io</strong> |
  <a href="mailto:buffrcontact@gmail.com?Subject=Yo">contact</a>
  <div id="terms" style="display: none;">
    By using buffr.io Web Site, and/or related products and/or services ("buffr.io"), you agree to the following terms: Do not use buffr.io if you're under 18. Do not use buffr.io if your network administrator prohibits the use of such tools. buffr.io does not guarantee data safety and/or data integrity. You can loose all your data or your data can be compromised by third party individuals. You understand that you use buffr.io at your own risk and that buffr.io and/ or it's related products, people or services ARE NOT RESPONSIBLE FOR ANY DAMAGE that may occur by the use of buffr.io. By using clicking "CREATE SESSION" you confirm that you have read and understood the terms above.
  </div>
  <div class="text-center" style="padding: 15px;">
    <a class="github-button" href="https://github.com/olegberman/buffr.io" data-count-href="/olegberman/buffr.io/stargazers" data-count-api="/repos/olegberman/buffr.io#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star olegberman/buffr.io on GitHub">Star</a>
  </div>
</footer>
